<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Yelpcamp</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<!-- 	Mapbox api links	 -->
		
		<script src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
		<link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />

	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#yelpcamp-navbar" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
					<a class="navbar-brand" href="/">Yelpcamp</a>
				</div>
				<div class="collapse navbar-collapse" id="yelpcamp-navbar">
					<ul class="nav navbar-nav navbar-right">
						<% if(!currentUser) { %>
							<li><a href="/login">Login</a></li>
							<li><a href="/register">Signup</a></li>
						<% } else { %>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle"></i> <%= currentUser.username %> <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/users/<%=currentUser.id%>">User Profile</a></li>
									<li><a href="/users/<%=currentUser.id%>/edit">Edit Profile</a></li>
									<li><a href="/users/<%=currentUser.id%>/changePassword">Change Password</a></li>
								</ul>
							</li>
							<li><a href="/logout">Logout</a></li>
						<% } %>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
		<% if(error && error.length>0) { %>
			<div class="alert alert-danger alert-dismissible fade in" role="alert"><%= error %>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		<% } %>
		<% if(success && success.length>0) { %>
			<% if(currentUser) { %>
				<% success += " " + currentUser.username; %>
			<% } %>
			<div class="alert alert-success alert-dismissible fade in" role="alert"><%= success %>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		<% } %>
		</div>
	
	
	